* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;

}
.contact_us_container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 60%;
    /* border: solid 1px black; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    margin: 0 auto;
    text-align: center;
    /* border-radius: 20px; */
    margin-top: 50px;

}

.contact_us_container .info {
    background-color: rgb(25, 191, 114);
}

.footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: 40px;
}

#contact_us_text h2 {
    margin: 20px;
    text-decoration: underline;
}
form {
    /* text-align: left; */
    margin: 0 auto;
    padding-left: 10px;
}
form div {
    margin: 20px;
    position: relative;
    text-align: left;
}


form input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

form .button {
    background: rgb(25, 191, 114);
    color: white;
    font-size: 1em;
    border: none;
    padding: 15px 5px;
    cursor: pointer;
}
form input label {
    text-align: left;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2); */
}
.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);

}
.popup img {
    width: 100px;
    margin-top: -50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.popup h3 {
    text-decoration: none;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background: rgb(25, 191, 114);
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.info div{
    margin: 20px;
}

.info h2 {
    padding: 10px;
}
.info #main-image {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70px;
}
.info img {
    width: 50px;
}
textarea {
    resize: none;
    padding: 10px;
}

/* .form {
    background-color: whitesmoke;
} */