body {
    display: grid;
    height: 100vh;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;

    grid-template-areas: 
    "header header"
    "side main"
    ;
}

.header {
    grid-area: header;
    justify-content: space-between;
    width: 100%;
}

.sidebar {
    grid-area: side;
    background: rgb(25, 191, 114);
    display: flex;
    justify-content: center;
}
.main-content-regform {

    grid-area: main;
    padding: 30px;
    
}

.main-content-container {
    max-width: 1000px;
    border: solid 1px black;
    padding: 20px;
}


.sidebar #menu {
    list-style: none;
   
}

.sidebar #menu a {
    color: white;
    text-decoration: none;
}
.items {
    margin-top: 10px;
}
.items li {
    padding: 20px 0;
}


/* FORM SETTINGS */
/* Hide all steps by default: */
.form {
    display: none;
  }

/* Make circles that indicate the steps of the form: */
.step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

/* Mark the active step: */
.step.active {
    opacity: 1;
  }

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: rgb(25, 191, 114);
  }

#header {
    margin-bottom: 50px;
}







/* FORM INPUTS */

.fields {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fields input {
    padding: 5px 5px;
    font-size: 1em;
    height: 34px;
    margin-top: 6px;
}
.fields label {
    font-size: 1em;
    color: #2e2e2eea;
}
form .input-box {
    display: flex;
    flex-direction: column;
    width: 250px;
}


button {
	padding: 8px 30px;
	background-color: rgb(25, 191, 114);
	border-radius: 5px;
    border:none;
    color: white;
    cursor: pointer;
}


@media(max-width: 700px){
    .sidebar {
        width: 60px;
    }
    .sidebar .items {
        display: none;
    }
}

#adduserid {
    display: none;
}